.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div{
  padding-left: 10px;
  padding-right: 10px;
  margin:auto;
}

h1.overallHead {
  text-align: center;
}

.App-header {
  background-color: #282c34d5;
  min-height: 5%;
  max-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  /* border-radius: .5em; */
}

.select_fields{
  height:10%;
}

.Header-container{
  width:1500px;
  height:140px;
  margin-top:25px;
  border-bottom: 1px solid black;
  padding-bottom:25px;
  position: absolute;
  left:15px;
}

.appLogo span {
  font-size: 45px;
}

.appLogo i {
  font-size: 23px;
}

.appLogo {
  text-align:right;
  /* margin:auto; */
  width:455px;
  float:right;
}

.siteLogo {
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  line-height: 60px;
  /* margin:auto; */
  width: 500px;
  float:left;
  margin-top:10px;
  /* top:10px; */
  
  /* margin-left:450px; */
}

.siteLogo img {
  left:0;
}

/* .siteLogo a {
  background-color: #bd1818;
  display: block;
  padding: 25px;
  color: #fff;
  text-decoration: initial
} */

.Top-level{
  /* margin:auto; */
  width:1500px;
  height:525px;
  padding-top:5px;
  padding-bottom:15px;
  /* border:1px solid black; */
  position: absolute;
  left:0;
  top:200px;
}

.Middle-level{
  /* padding-top:50px; */
  padding-bottom:25px;
  /* margin:auto; */
  width:1500px;
  height:75px;
  /* position: absolute;
  left:0;
  top:750px; */
}

.Bottom-level{
  padding-top:25px;
  padding-bottom:25px;
  margin:auto;
  /* margin-top:50px; */
  margin-bottom:25px;
  width:1500px;
  height:905px;
  border:3px solid black;
  position: absolute;
  left:15px;
  top:760px;
}

.Video-player{
  top:65px;
  left:20px;
  /* margin:auto; */
  /* left: 520px; */
  /* left: 15%; */
  /* top:395px; */
  /* top:26%; */
  position: absolute;
}

.Video-canvas{
  top:90px;
  left:30px;
  /* left: 530px; */
  /* left:15.5%; */
  /* top:445px; */
  /* top:29%; */
  position: absolute;
}

.Image-canvas{
  position: absolute;
  top:85px;
  left:810px;
  /* top:445px; */
  /* top:29%; */
  /* left:1800px; */
  /* border:1px solid black; */

}

.Video-container{
  /* margin:auto; */
  /* width: 1000px;
  height: 700px; */
  width: 675px;
  height: 525px;
  justify-content: center;
  float: left;
  padding: 1.5em;
}

.Display-image{
  /* margin:auto;
  width: 1000px;
  height: 700px; */
  width: 675px;
  height: 525px;
  justify-content: center;
  padding: 1.5em;
  float: right;
}

.Display-image p{
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  margin-top:0;
}

.Boundingbox-image{
  margin:auto;
  width: 375px;
  height: 262.5px;
  float: right;
}

.Racing-Chart{
  margin:auto;
  width: 43%;
  height:300px;
  justify-content: center;
  float: left;
  margin-left: 1em;
  margin-right: 0.5em;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  border:1px solid black;
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
}

.Multiline-Chart{
  margin:auto;
  width: 43%;
  height:300px;
  justify-content: center;
  float: right;
  margin-right: 1em;
  margin-left: 0.5em;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  border:1px solid black;
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
}

.Pie-Chart{
  margin:auto;
  width: 43%;
  height:450px;
  justify-content: center;
  float: left;
  margin-left: 1em;
  margin-right: 0.5em;
  border:1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top:10px;
  padding-left:15px;
  padding-right:15px;
}

.Radar-Chart{
  margin:auto;
  width: 43%;
  height:450px;
  justify-content: center;
  float: right;
  margin-right: 1em;
  margin-left: 0.5em;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top:10px;
  padding-left:15px;
  padding-right:15px;
  border:1px solid black;
}

.Color-Wheel{
  margin:auto;
  width: 45%;
  justify-content: center;
  float: center;
  padding-right: 1.5em;
  margin-top:25px;
  margin-bottom:25px;
  position: absolute;
  left:380px;
  top:1800px;
}

.Color-Wheel img{
  width: 750px;
  height:750px;
  margin:auto;
}

.Color-Wheel h3{
  float:center;
}

.clear{
  clear:both
}

select.Video-dropdown {
  /* display: block; */
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .3em .7em .25em .4em;
  width: 30%;
  max-width: 45%;
  box-sizing: border-box;
  margin: 0.5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .25em;
  float:left;
}

.Checkbox-button{
  font-size: 16.5px;
  font-family: sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

.Overlay-button{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .3em .7em .25em .4em;
  width: 20%;
  max-width: 22.5%;
  box-sizing: border-box;
  margin: 0.5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .25em;
  float:left;
}

.Input-button{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .3em .7em .25em .4em;
  width: 30%;
  /* max-width: 22.5%; */
  box-sizing: border-box;
  margin: 0.5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .25em;
  float:left;
}

.Threshold-button{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .3em .7em .25em .4em;
  width: 30%;
  /* max-width: 22.5%; */
  box-sizing: border-box;
  margin: 0.5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .25em;
  float:left;
}

.Selectall-button{
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .3em .7em .25em .4em;
  width: 33%;
  max-width: 45%;
  box-sizing: border-box;
  margin: 0.5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .25em;
  float:right;
  margin-right:50px;
  margin-top:15px;
}

.Filter-fields{
  width:100%;
  height:100%;
}

.field {
  display: inline-block;
  margin: 0 0.3em;
  padding:3px;
  float:left
  /* height:20px; */
}

.field input {
  margin-right: 0.25em;
  height:18px;
  width: 18px;
}

svg {
  display: block;
  width: 100%;
  height: 180px;
  background: #f7f7f7;
  overflow: visible;
}

svg rect.selection {
  stroke: none;
}

#root {
  margin: 0 auto;
  display: -moz-inline-stack;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: left; */
  height: 100vh;
  /* padding: 0 50px 150px; */
  text-align: center;
  box-sizing: border-box;
}

label.item{
  text-align: left;
}

div.Angry {
  background-color: #ff5050;
  width:90px;
  height:22px;
  justify-content: center;
}

div.Disgust {
  background-color: #cc66ff;
  width:90px;
  height:22px;
  justify-content: center;
}

div.Fear {
  background-color:#333300 ;
  width:90px;
  height:22px;
  justify-content: center;
}

div.Happy {
  background-color: #b3b300;
  width: 90px;
  height:22px;
  justify-content: center;
}

div.Sad {
  background-color: #0067cd;
  width:90px;
  height:22px;
  justify-content: center;
}

div.Surprise {
  background-color: #008080;
  width:90px;
  height:22px;
  justify-content: center;
}

div.Neutral {
  background-color: #a9aeb6;
  width:90px;
  height:22px;
  justify-content: center;
}

div.SelectAll {
  background-color: #669999;
  width:90px;
  height:22px;
  justify-content: center;
}

.hidden{
  display:none;
}

/* .Body-section{
  justify-content: left;
} */

